*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
    background:#F4F4F4;
}
.header-margin {
    margin-top: 150px;
}

.p-0 {
    padding: 0;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.w-100-i {
    width: 100%!important;
}
.w-100 {
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-85 {
    width: 85%;
}
.w-80 {
    width: 80%;
}
.w-75 {
    width: 75%;
}
.w-70 {
    width: 70%;
}
.w-68 {
    width: 68%;
}
.w-60 {
    width: 60%;
}
.w-55 {
    width: 55%;
}
.w-50 {
    width: 50%;
}
.w-40 {
    width: 40%;
}
.w-38 {
    width: 38%;
}
.w-31 {
    width: 31%;
}
.w-32 {
    width: 32%;
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}
.w-10 {
    width: 10%;
}
.w-5 {
    width: 5%;
}
.h-full {
    height: 100vh;
}
.h-100 {
    height: 100%;
}
.h-50 {
    height: 50%;
}
.z-1 {
    position: relative;
    z-index: 1;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.container-fluid {
    margin: auto;
    padding: 0 30px;
}
.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
.none {
    display: none;
}
.center {
    text-align: center;
}
.text-shadow {
    text-shadow: 0px 3px 6px #00000029;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.shadow {
    box-shadow: 0px 3px 6px #00000029;
}
.shadow-2 {
    box-shadow: 0px 0px 10px #0000001A;
}
.flex-1 {
    flex: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.nowrap {
    white-space: nowrap;
}
.pre-line {
    white-space: pre-line;
}
.row-3 {
    gap: 25px;
    display:flex;
    flex-wrap: wrap;
}

.row-3 > * {
    width: 31.92%;
}
.flex-column {
    flex-direction: column;
}
.flex-end {
    justify-content: flex-end;
}
.flex-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.relative {
    position: relative;
}
.object-fit {
    object-fit: cover;
}

.f-normal {
    font-weight: 200;
}
.font-55 {
    font-size: 55px;
}
.font-50 {
    font-size: 50px;
}
.font-45 {
    font-size: 45px;
}
.font-40 {
    font-size: 40px;
}
.font-35 {
    font-size: 35px;
}
.font-32 {
    font-size: 32px;
}
.font-30 {
    font-size: 30px;
}
.font-28 {
    font-size: 28px;
}
.font-27 {
    font-size: 27px;
}
.font-26 {
    font-size: 26px;
}
.font-25 {
    font-size: 25px;
}
.font-24 {
    font-size: 24px;
}
.font-23 {
    font-size: 23px;
}
.font-22 {
    font-size: 22px;
}
.font-20 {
    font-size: 20px;
}
.font-19 {
    font-size: 19px;
}
.font-18 {
    font-size: 18px;
}
.font-17 {
    font-size: 17px;
}
.font-16 {
    font-size: 16px;
}
.font-15 {
    font-size: 15px;
}
.font-14 {
    font-size: 14px;
}
.font-13 {
    font-size: 13px;
}
.font-12 {
    font-size: 12px;
}
.font-11 {
    font-size: 11px;
}
.font-10 {
    font-size: 10px;
}
.white {
    color: #fff;
}
.white-i {
    color: #fff !important;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}
.m-side-auto {
    margin-left: auto;
    margin-right: auto;
}
.m-0 {
    margin: 0;
}
.m-0-i {
    margin: 0 !important;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-30 {
    margin-right: 30px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-25 {
    margin-left: 25px;
}
.ml-30 {
    margin-left: 30px;
}
.top-2 {
    position: relative;
    top: 2px;
}
.pt-5 {
    padding-top: 5px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-45 {
    padding-top: 45px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-100 {
    padding-top: 100px;
}

.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-55 {
    padding-bottom: 55px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-25 {
    padding-right: 25px;
}
.pr-30 {
    padding-right: 30px;
}
.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-25 {
    padding-left: 25px;
}
.pl-30 {
    padding-left: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
li {
    list-style: none;
}
.plaintext {
    text-align: right;
    direction: ltr;
}

.light {
    font-weight: 100;
}
.bold {
    font-family: "Baloo Bold"!important;
}
.bg-white {
    background-color: #fff;
}
.bg-gray {
    background-color: #F4F4F4;
}
.bg-gray-2 {
    background-color: #f8f8f8;
}
.bg-soft {
    background-color: #FAFAFA;
}
.bg-yellow {
    background-color: #FF9E00;
}
.bg-blue {
    background-color: #3FC4E0;
}
.card-1 {
    background: #FAFAFA;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001A;
}
.bg-none {
    background: none;
}
.radius-5 {
    border-radius: 5px;
}
.radius-10 {
    border-radius: 10px;
}
.radius-12 {
    border-radius: 12px;
}
.radius-20 {
    border-radius: 20px;
}
.radius-60 {
    border-radius: 60px;
}
.rounded {
    border-radius: 50%;
}

.border-0 {
    border: 0;
}
.pointer {
    cursor: pointer;
}
a,
a:hover {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
.underline-p {
    text-decoration: none!important;
}
.p-side-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-side-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.p-side-100 {
    padding-left: 100px;
    padding-right: 100px;
}
.p-side-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.p-side-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-side-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.trans {
    transition: 0.3s;
}
.overflow-hidden {
    overflow: hidden;
}
h1 {
    background: transparent;
    border-radius: initial;
    padding: 0;
    text-align: initial;
    margin: 0;
}

.btn-2{
    background: #1976d2;
    padding: 13px 35px;
    border-radius: 12px;
    color: #fff;
    transition: 0.3s;
    border: 1px solid #1976d2;
    cursor: pointer;
}
.btn-2 {
    padding: 9px 35px;
}
.btn-3 {
    border: 1px solid #1976d2;
    padding: 9px 35px;
    color: #1976d2;
    cursor: pointer;
    background: transparent;
}
.btn-main {
    background: #1976d2;
    width: 340px;
    height: 60px;
    border-radius: 25px;
    color: #fff;
    transition: 0.3s;
    border: 1px solid #1976d2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group p {
    display: none;
}
.form-group > label {
    display: block;
}
.form-group.invalid p {
    display: block;
}
.form-control {
    border: 1px solid #1976d2;
    height: 52px;
    border-radius: 21px;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(121 106 238 / 25%);
}
.holder-center::placeholder {
    color: #7b797ba6;
}
.main-bg {
    background: #1976d2;
}
.main-color {
    color: #1976d2;
}
.black {
    color: #000;
}
.black-2 {
    color: #363636;
}
.yellow {
    color:#FF9E00;
}
.blue {
    color: #3FC4E0;
}
.blue-2 {
    color: #0043ff;
}
.gray {
    color:#939598;
}
.visible-0 {
    visibility: hidden;
}
.ltr {
    direction: ltr;
}
.rtl {
    direction: rtl;
}
.row-half {
    width: 49%;
    margin-bottom: 15px;
}
.three-line, .two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.two-line {
    -webkit-line-clamp: 2;
}
.three-line {
    -webkit-line-clamp: 3;
}
.do {
    display: block !important;
}
.mo {
    display: none !important;
}
.ls-3 {
    letter-spacing: 3.3px;
}
.left {
    text-align: left;
}
.bb {
    border-bottom:1px solid rgba(0, 0, 0, 0.12);
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-20 > *{
    width: 49%;
}
.two-side {
    display: flex;
    column-gap: 23px;
}
.swipe-box {
    width: 100%;
    overflow-x: scroll!important;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}
.right-side-col {
    width: 67.3333333333%;
}
.left-side-col {
    width: 30.6666666667%;
}
.mpu {
    min-height: 250px;
}
[do][tab-name]:not(.active), [all][tab-name]:not(.active) {
    display: none !important;
}
img {
    max-width: 100%;
}
@media (max-width: 767px) {
    .mo {
        display: block !important;
    }
    .do,[mo][tab-name]:not(.active), [all][tab-name]:not(.active) {
        display: none !important;
    }
    .w-100-p {
        width: 100% !important;
    }
    .w-90-p {
        width: 90% !important;
    }
    .w-80-p {
        width: 80% !important;
    }

    .title-line {
        font-size: 20px;
    }
    .row {
        flex-wrap: wrap;
    }
    .w-50-p {
        width: 50%;
    }
    .h-auto-p {
        height: auto;
    }
    .container,
    .container-fluid {
        max-width: 100%;
    }
    .container-fluid {
        min-width: auto;
    }
    .flex-wrap-p {
        flex-wrap: wrap;
    }
    .justify-center-p {
        justify-content: center;
    }
    .column-reverse {
        flex-direction: column-reverse;
    }
    .center-p {
        text-align: center;
    }
    .m-0-p {
        margin: 0;
    }
    .mt-0-p {
        margin-top: 0;
    }
    .mt-0-p-i {
        margin-top: 0!important;
    }
    .mt-20-p {
        margin-top: 20px;
    }
    .mt-15-p {
        margin-top: 15px;
    }
    .mt-10-p {
        margin-top: 10px;
    }
    .mb-0-p {
        margin-bottom: 0 !important;
    }
    .mb-5-p {
        margin-bottom: 5px;
    }
    .mb-10-p {
        margin-bottom: 10px;
    }
    .mb-15-p {
        margin-bottom: 15px;
    }
    .mb-20-p {
        margin-bottom: 20px;
    }
    .mb-25-p {
        margin-bottom: 25px;
    }
    .mb-30-p {
        margin-bottom: 30px;
    }
    .p-0-p {
        padding: 0!important;
    }
    .p-side-0-p {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .pt-0-p {
        padding-top: 0;
    }
    .pt-10-p {
        padding-top: 10px;
    }
    .pb-10-p {
        padding-bottom: 10px;
    }
    .pb-20-p {
        padding-bottom: 20px;
    }
    .pt-20-p {
        padding-top: 20px;
    }
    .pt-25-p {
        padding-top: 25px;
    }
    .pr-12-p {
        padding-right: 12px;
        padding-left: 0;
    }
    .p-side-12-p {
        padding-left: 12px;
        padding-right: 12px;
    }
    .m-side-12-p {
        margin-left: 12px;
        margin-right: 12px;
    }
    .font-13-p {
        font-size: 13px;
    }
    .font-14-p {
        font-size: 14px;
    }
    .font-15-p {
        font-size: 15px;
    }
    .font-16-p {
        font-size: 16px;
    }
    .font-18-p {
        font-size: 18px;
    }
    .font-20-p {
        font-size: 20px;
    }
    .font-28-p {
        font-size: 28px;
    }
    .container-fluid {
        padding: 0 15px;
    }
    .btn, .btn-2 {
        padding: 6px 25px;
    }
    .p-side-15-p {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-line:after {
        margin-top: 10px;
    }
    .half-p {
        width: 48%;
    }
    .shadow-p {
        box-shadow: 0px 3px 6px #00000029;
    }
    .radius-3-p {
        border-radius: 3px;
    }
    .swipe-box-p {
        width: 100%;
        overflow-x: scroll!important;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }
    .column-gap-20-p {
        column-gap: 20px;
    }
    .column-gap-20-p > *:last-of-type {
        margin-left: 20px;
    }
    .bold-p {
        font-family: "Baloo Bold";
    }
    .d-flex-p {
        display: flex;
    }
    .btn-main {
        height: 50px;
    }
    .m-side-auto-p {
        margin-left: auto;
        margin-right: auto;
    }
    .no-scrollbar-p {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .no-scrollbar-p::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    button {
        max-width: 100%!important;
    }
}
